.plateau {
    width: auto;

    &__table {
        margin: auto;
        border: 1px dotted #000;
        border-bottom: none;
    }
    margin: auto;
    &__column {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-bottom: 1px dotted #000;
        text-align: center;
        &:not(:last-child) {
            border-right: 1px dotted #000;
        }
    }
    &__times{
        vertical-align: middle;
        font-size: 2rem;
    }
}
